CompileFlags:
  Add:
    - -xc
    - -std=c11
    - -Wall
    - -Wextra
    - -Wpedantic

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add:
      - bugprone-*
      - performance-*
      - readability-*
    Remove:
      - readability-magic-numbers
