If:
  PathMatch: .*\.(c|h)$
CompileFlags:
  Add:
    - -xc
    - -std=c11
    - -Wall
    - -Wextra
    - -Wpedantic

---
If:
  PathMatch: .*\.(cpp|hpp|cc)$
CompileFlags:
  Add:
    - -xc++
    - -std=c++17
    - -Wall
    - -Wextra
    - -Wpedantic

---
Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add:
      - bugprone-*
      - performance-*
      - readability-*
    Remove:
      - readability-magic-numbers
